/*
===================================================
                  Header Variables
====================================================
*/
/*
===================================================
                  html,body
====================================================
*/
html {
  position: relative;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
  margin: 0;
}
/*
===================================================
                  Header
====================================================
*/
.header {
  text-align: center;
  font-size: 14px;
  padding: 15px;
  background-color: #6495ed;
  color: #ffffff;
}
