@import "animate.less";

/*
===================================================
                  html,body,container
====================================================
*/

html {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
  margin:0;
}
.container-fluid{
  margin:0 auto;
  background:#fff;
}
/*
===================================================
                  Header Variables
====================================================
*/


/*
===================================================
                  Header
====================================================
*/